html { 
	padding:0px;
	margin:0px;
}

body {
	background-color: #FFFFFF;
	background-image: url(../images/background.png);
	background-repeat: repeat-y;
	font-size: 11px;
	font-family: Verdana, Sans-Serif;
	color: #000000;  
	padding:0px;
	margin:0px;
	height: 100%;
	margin-bottom: -72px;
}

#header {
	background-color: #000000; 
	color: white; 
	height: 51px;
	line-height: 51px;
	background-image: url(../images/header.png);
	font-size: 22px;
	padding-left: 10px;
}

#navigation {
	color: #202020;
	margin: 0px;
	padding-left: 10px;
	background: #FFFFFF;
	height: 25px;
	line-height: 25px;
	background-image: url(../images/navigation.png);
	border-bottom:1px solid #555555;
}

#left {
	position: absolute;
	left: 0px;
	width: 200px;
	margin: 0px; 
	padding: 0px;
	background-color: #d1d7e2;
}

#left strong {
	color: #505D6D;
}

#main {
	margin-left: 200px;
	border-left: 1px solid #404040;
}

#main #title {
	padding: 10px;
	font-size: 14px;
	background-color: #6884AB;
	color: #FFFFFF;
}

#main #content {
	background-color: #ffffff;
}

p, h1, h2 {
	margin: 0;
	padding: 10px;
}

h1 {
	font-size: 10pt;
	color: #000;
}

strong {
	color: #000;
}

a {
	color: #000000;
	text-decoration: none;
}

table {
	border: 0pt;
	width: 100%;
	padding: 0;
	margin: 0;  
}

thead {
	background-image: url(../images/title.png);
	vertical-align: middle;
	color: #202020;
	font-weight: bold;
}

thead tr td {
	border-top: 1px solid #555555;
	border-bottom: 1px solid #555555;
	padding: 0px 10px;
	height: 16px;
}

tbody tr td {
	padding: 3px 10px;
}


td.delete {
	width: 45px;
}