html { 
	padding:0px;
	margin:0px;
}

body {
	background-color: #FFFFFF;
	background-image: url(../images/background.png);
	background-repeat: repeat-y;
	font-size: 11px;
	font-family: Verdana, Sans-Serif;
	color: #000000;  
	padding:0px;
	margin:0px;
	height: 100%;
	margin-bottom: -72px;
}
img {
	border: 0;
	padding: 0;
	margin: 0;
}
#header {
	background-color: #000000; 
	color: white; 
	height: 51px;
	line-height: 51px;
	background-image: url(../images/header.png);
	font-size: 22px;
	padding-left: 10px;
}

#header .info {
	font-size: 11px;
	position:absolute;
	right:1em;
	top:0pt;
}

#header .info a {
	color: white;
}

#navigation {
	color: #202020;
	margin: 0px;
	padding-left: 10px;
	background: #FFFFFF;
	height: 26px;
	line-height: 20px;
	background-image: url(../images/navigation.png);
	border-bottom:1px solid #555555;
}



#navigation ul {
	margin:0;
	padding:0;
	padding-top: 2px;
	list-style:none;
}
#navigation li {
	height: 22px;
	float:left;
	background:url("../images/button_background.png") repeat-x right top;
	margin:0;
	padding:0;
}

#navigation a {
	height: 22px;
	display:block;
	background:url("../images/button_background.png") no-repeat left top;
	padding: 0px 6px;
	border-left: 1px solid #585858;
}

#navigation li:first-child a {
	background:url("../images/button_left.png") no-repeat left top;
	border: 0;
}

#navigation li.last {
	background:url("../images/button_right.png") no-repeat right top;
}

	

#left {
	position: absolute;
	left: 0px;
	width: 200px;
	margin: 0px; 
	padding: 0px;
	background-color: #d1d7e2;
}

#left strong {
	color: #505D6D;
}

#main {
	margin-left: 200px;
	border-left: 1px solid #404040;
}

#main #title {
	padding: 10px;
	font-size: 14px;
	background-color: #6884AB;
	color: #FFFFFF;
}

#main #content {
	background-color: #ffffff;
}

p, h1, h2 {
	margin: 0;
	padding: 10px;
}

h1 {
	font-size: 10pt;
	color: #000;
}

strong {
	color: #000;
}

a {
	color: #000000;
	text-decoration: none;
}

table {
	border: 0pt;
	width: 100%;
	padding: 0;
	margin: 0;  
}

thead {
	background-image: url(../images/title.png);
	vertical-align: middle;
	color: #202020;
	font-weight: bold;
}

thead tr td {
	border-top: 1px solid #555555;
	border-bottom: 1px solid #555555;
	border-left: 1px solid #555555;
	padding: 0px 10px;
	height: 16px;
}

tbody tr td {
	padding: 3px 10px;
	border-left: 1px solid #D9D9D9;
}

tbody tr td:first-child {
	border-left: 0;
}

thead tr td:first-child {
	border-left: 0;
}


td.delete {
	width: 15px;
	text-align: center;
}

tbody .even {
	background-color: #F1F5FA;
}

table {
	border-bottom: 1px solid #D9D9D9;
}

#error {
	background: #FFAAAA url(../images/error.png) center no-repeat;
	background-position: 10px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 10px 10px 10px 40px;
	color: #880000;
	display: none;
}

#message {
	background: #DEEDDE url(../images/info.png) center no-repeat;
	background-position: 10px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 10px 10px 10px 40px;
	display: none;
}