.mootabs_title {
	height: 24px;
	list-style-type: none;
	position: relative;	
	padding-left: 0px; 
}
 
 
.mootabs_title li {
	float: left;
	margin: 0px;
}
 
.mootabs_title a:link,.mootabs_title a:visited {
	background-color: #ddd;
	color: #000;
	margin-right: 3px;
	padding: 3px 10px;
	display:block;
	text-decoration: none;
	border: 1px solid #ddd;
}
.mootabs_title a:hover,.mootabs_title a:focus {
	color:#666
}
.mootabs_title a.active,
.mootabs_title a:focus.active,
.mootabs_title a:hover.active,
.mootabs_title a:visited.active {
	background-color: #aaa;
	color: #fff;
	border: 1px solid #aaa;
	z-index: 100;
}
 
.mootabs_panel {
	position: relative;
 
	overflow: auto;

}
 
.mootabs_panel.active
{
	/* some other settings */
}